/* GitHub Card App Styles */

.github-profile
{
 	margin: 1rem;
}

 .github-profile img
 {
     width: 125px;
 }

.github-profile .info
 {
    display: inline-block;
    margin-left: 12px;
}

.github-profile .name
 {
    font-size: 1.25rem;
    font-weight: bold;
}

.github-profile .txt
 {
    font-size: 1.0rem;
    font-weight: normal;
}

form {
    border: thin solid #ddd;
    background-color: #fbfbfb;
    padding: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}



/* Tic Tac Toe Styles */
ol, ul {
    padding-left: 30px;
  }

  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }

  .status {
    margin-bottom: 10px;
  }

  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }

  .square:focus {
    outline: none;
  }

  .kbd-navigation .square:focus {
    background: #ddd;
  }

  .game {
    display: flex;
    flex-direction: row;
  }

  .game-info {
    margin-left: 20px;
  }


  /* Author Quiz Styles */
.turn > div
{
    height: 400px;
}

.turn
{
    padding-top: 20px;
    padding-bottom: 20px;
}

.authorimage
{
    max-height: 100%;
    max-width: 100%;
}

.answer:hover
{
    background-color: #eeeeee;
}