/* GitHub Card App Styles */

.github-profile
{
 	margin: 1rem;
}

 .github-profile img
 {
     width: 125px;
 }

.github-profile .info
 {
    display: inline-block;
    margin-left: 12px;
}

.github-profile .name
 {
    font-size: 1.25rem;
    font-weight: bold;
}

.github-profile .txt
 {
    font-size: 1.0rem;
    font-weight: normal;
}

form {
    border: thin solid #ddd;
    background-color: #fbfbfb;
    padding: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

